In [1]:
import pandas as pd
import requests
import sys
from tqdm.notebook import tqdm

sys.path.append('../src/')
from utils.parsing import get_post_likes

In [2]:
posts1 = pd.read_json('../data/raw/looksource-posts-13000-07-Apr-2023 (17_42_21).json')
posts1 = posts1.query("marked_as_ads == 0 and likes > 100 and likes < 2000 and reposts < 300")
posts1 = posts1[posts1.attachments.apply(len) >= 3]
posts1 = posts1[posts1.attachments.apply(len) <= 7]
posts1.head(3)

,id,owner_id,date,text,likes,reposts,attachments,marked_as_ads
5,146022,-194512826,2023-04-06 16:07:00,–ú–∏–Ω–∏ —é–±–∫–∞ —Å wb\n\n–∞—Ä—Ç–∏–∫—É–ª –ø–æ–¥ —Ñ–æ—Ç–æ,165,83,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0
14,145925,-194512826,2023-04-05 16:04:00,–í—ã–±–∏—Ä–∞–µ–º –Ω–∞ –∫–∞–∫—É—é –ø–æ–¥–±–æ—Ä–∫—É –æ—Å—Ç–∞–≤–∏—Ç—å –∞—Ä—Ç–∏–∫—É–ª—ã!\...,512,292,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0
20,145853,-194512826,2023-04-04 18:03:00,–ø–∏—à–∏—Ç–µ –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –æ–±—Ä–∞–∑ –∫–æ—Ç–æ—Ä—ã–π –ø–æ–Ω—Ä–∞–≤–∏–ª—Å—è ...,793,266,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0

In [3]:
posts2 = pd.read_json('../data/raw/lookconstructor-posts-13000-07-Apr-2023 (18_17_02).json')
posts2 = posts2.query("marked_as_ads == 0 and likes > 100 and likes < 2000 and reposts < 200")
posts2 = posts2[posts2.attachments.apply(len) >= 3]
posts2 = posts2[posts2.attachments.apply(len) <= 7]
posts2.head(3)

,id,owner_id,date,text,likes,reposts,attachments,marked_as_ads
6,689485,-145536915,2023-04-07 09:03:03,"—è –∏—Å–ø–æ—Ä—á—É —Ç–≤–æ–π —Å–æ–Ω, —Ä–æ–∑–æ–≤–∞—è –ø–æ–º–∞–¥–∞..\n\n—Å—Å—ã–ª–∫–∏...",156,19,"[{'type': 'photo', 'photo': {'album_id': 29215...",0
8,689476,-145536915,2023-04-07 06:04:00,"–º—É–∑–∞, —Ç—ã —Å–ª—ã—à–∏—à—å, –≤–µ—Ä–Ω–∏—Å—å, —è –≤—Å–µ —Ç–µ–±–µ –ø—Ä–æ—â—É\n\...",178,14,"[{'type': 'photo', 'photo': {'album_id': 29215...",0
9,689446,-145536915,2023-04-06 18:03:00,–ª—é–±–∏—à—å —Å–Ω–∏–º–∞—Ç—å –º–∏–Ω–∏-–≤–ª–æ–≥–∏\n\n—Å—Å—ã–ª–∫–∏ –ø–æ–¥ —Ñ–æ—Ç–æ.,162,6,"[{'type': 'photo', 'photo': {'album_id': 29215...",0

In [4]:
posts3 = pd.read_json('../data/raw/look_sales-posts-3500-07-Apr-2023 (18_28_50).json')
posts3 = posts3.query("marked_as_ads == 0 and likes > 60 and likes < 500 and reposts < 200")
posts3 = posts3[posts3.attachments.apply(len) >= 3]
posts3 = posts3[posts3.attachments.apply(len) <= 7]
posts3.head(3)

,id,owner_id,date,text,likes,reposts,attachments,marked_as_ads
2,24666,-196395451,2023-04-07 12:05:01,—Ç–æ–ø wbüòª,97,48,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0
4,24658,-196395451,2023-04-06 18:05:00,—Å–µ—Ä—å–≥–∏ wbü¶ã,76,18,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0
11,24642,-196395451,2023-04-05 18:05:00,—Ç–æ–ø wbüíó,216,107,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0

In [5]:
posts_dict = {
    'looksource': posts1,
    'lookconstructor': posts2,
    'look_sales': posts3
}

In [6]:
all_likes = {}

In [ ]:
# VK has requests restriction for about ~10k per day,
# that's why in initial parsing you need to do it manually. - There is a lot of data.
groupname = 'lookconstructor'
df = posts_dict[groupname]
ids = df.id.to_list()
owner_id = df.iloc[0].owner_id
left, right = 0, 10
# by changing left and right and launching code 
# once a day you can fully parse the data about all post's likes
for idx in tqdm(ids[left:right]):
    likes = get_post_likes(owner_id=owner_id, item_id=idx)
    # nested list for further proper pandas reading
    all_likes[idx] = [likes]