In [1]:
import pandas as pd

In [2]:
users = pd.read_json('../data/interim/users.json')

In [3]:
users

,id,photo,sex,is_closed,city,country,likes,weighted_age,age_diff
0,11946,https://sun6-22.userapi.com/s/v1/ig2/KGV4KtNi0...,1,False,"{'id': 2, 'title': 'Санкт-Петербург'}","{'id': 1, 'title': 'Россия'}",8,35,0
1,62102,https://sun6-21.userapi.com/s/v1/ig2/iu0M-ERxn...,1,False,None,None,9,35,0
2,662418,https://sun6-21.userapi.com/s/v1/if2/gxSDA6_Q6...,2,False,"{'id': 1964269, 'title': 'Hong Kong'}","{'id': 97, 'title': 'Китай'}",16,35,0
3,1277906,https://sun6-23.userapi.com/s/v1/if1/yzq3SNC64...,1,False,"{'id': 1, 'title': 'Москва'}","{'id': 1, 'title': 'Россия'}",10,34,0
4,1345035,https://sun6-21.userapi.com/s/v1/if1/1xpNC-mZ-...,1,False,"{'id': 1, 'title': 'Москва'}","{'id': 1, 'title': 'Россия'}",17,35,0
...,...,...,...,...,...,...,...,...,...
68669,785057091,https://sun6-23.userapi.com/s/v1/ig2/u-MsVlvpB...,1,False,None,None,6,21,0
68670,785828149,https://sun6-23.userapi.com/s/v1/ig2/EViT7gFq4...,1,False,None,None,145,18,2
68671,786259561,https://sun6-20.userapi.com/s/v1/ig2/2HRZL37Cf...,2,False,None,None,3,19,0
68672,787242273,https://sun6-23.userapi.com/s/v1/ig2/RR7oi_6Ka...,1,False,"{'id': 1, 'title': 'Москва'}","{'id': 1, 'title': 'Россия'}",10,24,2
68673,788594701,https://sun6-23.userapi.com/s/v1/ig2/lS-z-7d6n...,1,False,None,None,14,22,4